.App {
  text-align: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 100px 20px;
}

.login-container { 
  top: 561px;
  left: 480px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  opacity: 0px;
  
  
  
  
}

.logo {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.login-text {
  font-size: 12px;
  margin-right: 90px;
  font-size: bold;
  font-weight: bold;
}

.divider-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider {
  width: 150px;
height: 0px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #999;

}

.divider-text {
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
  margin-bottom: 3px;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
gap: 0px;
opacity: 0px;
font-family: Urbanist;
font-size: 14px;
font-weight: bold;
line-height: 48px;
text-align: center;
color: #1F1C1C;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.forgot-password {
  font-size: 12px;
  text-align: right;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
}

.login-button,
.google {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.login-button {
  background: #000000;
  color: #fff;
  border: none;
  margin-bottom: 10px;
}

.google {
  background: #fff;
  border: 1px solid #000000;

}
.google img{
margin-left:90px;
 width: 20px;
top: 594px;
left: 784px;
gap: 0px;
opacity: 0px;

}